<div class="password-validator">
    <div class="password-validator-level-list" ng-if="strength >= 0">
        <div class="password-validator-level">
            <div class="password-validator-level-inner" ng-class="{'wrong': strength == 0 || strength == 1, 'medium': strength == 2, 'good': strength >= 3 }"></div>
        </div>
        <div class="password-validator-level">
            <div class="password-validator-level-inner" ng-class="{'wrong': strength == 1, 'medium': strength == 2, 'good': strength >= 3 }"></div>
        </div>
        <div class="password-validator-level">
            <div class="password-validator-level-inner" ng-class="{ 'medium': strength == 2, 'good': strength >= 3 }"></div>
        </div>
        <div class="password-validator-level">
            <div class="password-validator-level-inner" ng-class="{ 'good': strength >= 3 }"></div>
        </div>
        <div class="password-validator-level">
            <div class="password-validator-level-inner" ng-class="{ 'good': strength == 4 }"></div>
        </div>
    </div>
    <div class="password-validator-label">
        <span class="password-validator-label-wrong" ng-if="strength == 0 || strength == 1">
            Password too weak
        </span>
        <span class="password-validator-label-medium" ng-if="strength == 2">
            Password good
        </span>
        <span class="password-validator-label-good" ng-if="strength == 3">
            Password strong
        </span>
        <span class="password-validator-label-good" ng-if="strength == 4">
            Password very strong
        </span>
    </div>

</div>
