<div class="canvas-container">
    <div class="canvas-startup-founder">
        <div class="canvas-startup-founder-why">
          Why?
        </div><div class="canvas-startup-founder-how">
          How?
        </div>
        <div class="canvas-startup-founder-values-motivations">
            <canvas-block
            title="Values"
            icon="law"
            canvas-name="startup-founder"
            block-name="values"
            ng-model="canvas.content.values"
            ng-change="saveCanvas()"
            editable="editable" top></canvas-block>
            <canvas-block
            title="Motivations"
            icon="lightning"
            canvas-name="startup-founder"
            block-name="motivations"
            ng-model="canvas.content.motivations"
            ng-change="saveCanvas()"
            editable="editable" top></canvas-block>
        </div><div class="canvas-startup-founder-vision-missions">
            <canvas-block
            title="Vision"
            icon="find"
            canvas-name="startup-founder"
            block-name="vision"
            ng-model="canvas.content.vision"
            ng-change="saveCanvas()"
            editable="editable" top></canvas-block>
            <canvas-block
            title="Missions"
            icon="spy"
            canvas-name="startup-founder"
            block-name="missions"
            ng-model="canvas.content.missions"
            ng-change="saveCanvas()"
            editable="editable" top></canvas-block>
        </div><div class="canvas-startup-founder-purpose-key-success-criteria">
            <canvas-block
            title="Purpose"
            icon="flag checkered"
            canvas-name="startup-founder"
            block-name="purpose"
            ng-model="canvas.content.purpose"
            ng-change="saveCanvas()"
            editable="editable" top></canvas-block>
            <canvas-block
            title="Key success criteria"
            icon="dashboard"
            canvas-name="startup-founder"
            block-name="key-success-criteria"
            ng-model="canvas.content.keysuccesscriteria"
            ng-change="saveCanvas()"
            editable="editable" top></canvas-block>
        </div><div class="canvas-startup-founder-strategy-organisation">
            <canvas-block
            title="Strategy"
            icon="map"
            canvas-name="startup-founder"
            block-name="strategy"
            ng-model="canvas.content.strategy"
            ng-change="saveCanvas()"
            editable="editable" top></canvas-block>
            <canvas-block
            title="Organisation"
            icon="users"
            canvas-name="startup-founder"
            block-name="organisation"
            ng-model="canvas.content.organisation"
            ng-change="saveCanvas()"
            editable="editable" top></canvas-block>
        </div><div class="canvas-startup-founder-skills-means">
            <canvas-block
            title="Skills"
            icon="paint brush"
            canvas-name="startup-founder"
            block-name="skills"
            ng-model="canvas.content.skills"
            ng-change="saveCanvas()"
            editable="editable" top></canvas-block>
            <canvas-block
            title="Means"
            icon="money"
            canvas-name="startup-founder"
            block-name="means"
            ng-model="canvas.content.means"
            ng-change="saveCanvas()"
            editable="editable" top></canvas-block>
        </div>
        <canvas-block
        title="Benefits"
        icon="trophy"
        canvas-name="startup-founder"
        block-name="benefits"
        ng-model="canvas.content.benefits"
        ng-change="saveCanvas()"
        editable="editable" top></canvas-block><canvas-block
        title="Commitments"
        icon="legal"
        canvas-name="startup-founder"
        block-name="commitments"
        ng-model="canvas.content.commitments"
        ng-change="saveCanvas()"
        editable="editable" top></canvas-block>

    </div>
</div>
