<div class="canvas-value-proposition-container " ng-class="{'value-proposition-container-top': showTutorial && stepTutorial == 'value-proposition'}">
    <h2 class="canvas-title">Value Proposition</h2>
    <div class="canvas-value-proposition">
        <canvas-block
        title="Product & Service"
        icon="cube"
        canvas-name="value-proposition"
        block-name="product"
        ng-model="canvas.content.product"
        ng-change="saveCanvas()"
        editable="editable"></canvas-block><div class="canvas-value-proposition-gain-creators-pain-relievers">
            <canvas-block
            title="Gain Creators"
            icon="line chart"
            canvas-name="value-proposition"
            block-name="gain-creators"
            ng-model="canvas.content.gaincreator"
            ng-change="saveCanvas()"
            editable="editable" top></canvas-block>
            <canvas-block
            title="Pain Relievers"
            icon="first aid"
            canvas-name="value-proposition"
            block-name="pain-relievers"
            ng-model="canvas.content.painrelievers"
            ng-change="saveCanvas()"
            editable="editable" top></canvas-block>
        </div>
    </div>
</div>
