<div class="canvas-value-proposition-container " ng-class="{'value-proposition-container-top': showTutorial && stepTutorial == 'value-proposition'}">
    <h2 class="canvas-title">Value Proposition</h2>
    <div class="canvas-value-proposition">
        <div class="canvas-value-proposition-product canvas-editable" ng-click="showProductEditor = true">
            <div class="canvas-value-proposition-product-content">
                <h3 class="canvas-subtitle">Product & service<i class="cube icon"></i></h3>
                <div class="canvas-text canvas-value-proposition-product-text" btf-markdown="(canvas.content.product | mdNewLine)">
                </div>
            </div>
            <div class="invisible"></div>
        </div><div class="canvas-value-proposition-gain-creators-pain-relievers">
            <div class="canvas-value-proposition-gain-creators canvas-editable" ng-click="showGainCreatorEditor = true">
                <div class="invisible invisible-top"></div>
                <div class="canvas-value-proposition-gain-creators-content">
                    <h3 class="canvas-subtitle">Gain Creator<i class="line chart icon"></i></h3>
                    <div class="canvas-text canvas-value-proposition-gain-creators-text" btf-markdown="(canvas.content.gaincreator | mdNewLine)">
                    </div>
                </div>
            </div>
            <div class="canvas-value-proposition-pain-relievers canvas-editable" ng-click="showPainRelieversEditor = true">
                <div class="invisible invisible-top"></div>
                <div class="canvas-value-proposition-pain-relievers-content">
                    <h3 class="canvas-subtitle">Pain Relievers <i class="first aid icon"></i></h3>
                    <div class="canvas-text canvas-value-proposition-pain-relievers-text" btf-markdown="(canvas.content.painrelievers | mdNewLine)">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <modal-editor show="showProductEditor" title="Product/Service" icon="cube" model="canvas.content.product"></modal-editor>
    <modal-editor show="showGainCreatorEditor" title="Gain Creator" icon="line chart" model="canvas.content.gaincreator"></modal-editor>
    <modal-editor show="showPainRelieversEditor" title="Pain Relievers" icon="first aid" model="canvas.content.painrelievers"></modal-editor>




</div>
