<div menu-button></div>

<div footer></div>

<div class="toolbar-bottom" ng-if="canvas != null">
    <div class="toolbar-submenu">
        <div class="toolbar-bottom-feedback" ng-show="deletingTimeout != null">
            This canvas will be deleted in {{deletingCount}} seconds.
        </div>
        <button class="ui button secondary icon large toolbar-button" ng-click="cancelDeleting()" ng-show="deletingTimeout != null">
            <i class="ui icon ban"></i>
        </button>
        <button class="ui button secondary icon large toolbar-button" ng-click="delete()" ng-show="deletingTimeout == null">
            <i class="ui icon trash"></i>
        </button>
    </div>

</div>


<div class="toolbar-top" ng-class="{'smenu-top': showTutorial && stepTutorial == 'menu'}" ng-if="canvas != null">
    <div class="toolbar-submenu">

        <div class="toolbar-submenu-content">
            <button class="ui button secondary icon large" ng-click="canvas.target = 'all'">
                <i class="ui icon square"></i>
                <i class="ui icon circle"></i>
            </button>
            <button class="ui button secondary icon large toolbar-button" ng-click="canvas.target = 'value-proposition'">
                <i class="ui icon square"></i>
            </button>
            <button class="ui button secondary icon large toolbar-button" ng-click="canvas.target = 'customer-segment'">
                <i class="ui icon circle"></i>
            </button>
        </div>
        <button class="ui button secondary icon large toolbar-button">
            <i class="ui icon unhide"></i>
        </button>
    </div>

    <div class="toolbar-submenu">
        <div class="toolbar-submenu-content">
            <button class="ui button secondary icon large toolbar-button" ng-click="zoomDefault()">
                <i class="ui icon maximize"></i>
            </button>
            <button class="ui button secondary icon large toolbar-button" ng-click="zoomIn()">
                <i class="ui icon plus"></i>
            </button>
            <button class="ui button secondary icon large toolbar-button" ng-click="zoomOut()">
                <i class="ui icon minus"></i>
            </button>
        </div>
        <button class="ui button secondary icon large toolbar-button">
            <i class="ui icon search"></i>
        </button>
    </div>

<!--
    <div class="toolbar-submenu">
        <button class="ui button secondary icon large toolbar-button"  ng-click="print()">
            <i class="ui icon print"></i>
        </button>
    </div> -->

    <div class="toolbar-submenu">
        <div class="smenu-submenu-content">
        </div>
        <button class="ui button secondary icon large toolbar-button" ng-click="canvas.export()">
            <i class="ui icon cloud download"></i>
        </button>
    </div>

    <!-- <button class="ui button secondary icon large menu-button" ng-click="enlarge()">
        <i class="ui icon maximize"></i>
    </button> -->
</div>

<div class="canvas-name-container" ng-if="canvas != null">
    <span class="canvas-name" contenteditable inline ng-model="canvas.name"></span>
</div>


<div class="main-content ui center aligned grid" style="zoom: {{canvas.zoom}}%">
        <div class="column " >
            <div class="invisible"></div>
            <div class="canvas ">
                <div class="canvas-not-found" ng-if="canvas == null">
                    Canvas not found
                </div>
            <!--

                <div class="tutorial-help-container" ng-show="showTutorial && stepTutorial == 'customer-segment'">
                    <div class="tutorial-help tutorial-help-left">
                        <div class="tutorial-help-title">On the right side <i class="ui icon pointing right"></i></div>
                        Gather information about your target :
                            <ul>
                                <li>What your customer does?</li>
                                <li>What are his gains?</li>
                                <li>What are his pains?</li>
                            </ul>
                            <div class="tutorial-next">
                                <button class="ui icon button white huge" ng-click="nextStepTutorial()">
                                    Ok
                                </button>
                            </div>
                            <p>
                                <span class="tutorial-skip-again" ng-click="closeTutorial()">Skip it</span>
                            </p>
                    </div>
                </div>
                <div class="tutorial-help-container" ng-show="showTutorial && stepTutorial == 'value-proposition'">
                    <div class="tutorial-help tutorial-help-right">
                        <div class="tutorial-help-title"> <i class="ui icon pointing left"></i>On the left side</div>
                        Find how to solve customer's pains, improve customer's gains and finally define a product or a service.
                            <div class="tutorial-next">
                                <button class="ui icon button white huge" ng-click="nextStepTutorial()">
                                    Ok
                                </button>
                            </div>
                            <p>
                                <span class="tutorial-skip-again" ng-click="closeTutorial()">Skip it</span>
                            </p>
                    </div>
                </div>-->
                <canvas-value-proposition ng-show="canvas.target == 'all' || canvas.target == 'value-proposition'"></canvas-value-proposition>
                <canvas-customer-segment ng-show="canvas.target == 'all' || canvas.target == 'customer-segment'"></canvas-customer-segment>
            </div>
        </div>
</div>
