<div class="main-container ui middle aligned center aligned grid" >
  <div class="column" style="zoom: {{zoom}}%">
      <div class="value-proposition-canvas">

    <div class="value-proposition-container" ng-hide="canvas.target == 'customer'" ng-class="{'value-proposition-container-center':canvas.getTarget() == 'product'}">
        <h2>
            <span class="canvas-name">Value Proposition</span>

            <!-- <input class="customer-segment-name" type="text" placeholder="Customer segment" ng-model="segment.name"> -->
        </h2>
        <div class="canvas value-proposition" >
            <div class="value-proposition-product">
                <div class="value-proposition-product-content">
                    <h3 class="canvas-title">Product & service<i class="cube icon"></i></h3>
                    <div class="canvas-text value-proposition-product-text">
                        {{valueProposition.product}}
                    </div>
                </div>
                <div class="invisible"></div>
            </div><div class="value-proposition-gain-creators-pain-relievers">
                <div class="value-proposition-gain-creators">
                    <div class="invisible invisible-top"></div>
                    <div class="value-proposition-gain-creators-content">
                        <h3 class="canvas-title">Gain Creator<i class="line chart icon"></i></h3>
                        <div class="canvas-text value-proposition-gain-creators-text">
                            {{valueProposition.gainCreators}}
                        </div>
                    </div>
                </div>
                <div class="value-proposition-pain-relievers">
                    <div class="invisible invisible-top"></div>
                    <div class="value-proposition-pain-relievers-content">
                        <h3 class="canvas-title">Pain Relievers <i class="first aid icon"></i></h3>
                        <div class="canvas-text value-proposition-pain-relievers-text">
                            {{valueProposition.painRelievers}}
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="ui center aligned padded grid">
                <div class="olive column">
                  Olive
                </div>
                <div class="black column">
                  Black
                </div>
          </div> -->
        </div>
    </div>


    <div class="customer-segment-container" ng-hide="canvas.target == 'product'" ng-class="{' customer-segment-container-center': canvas.getTarget() == 'customer'}">
        <h2>
            <span class="canvas-name">Customer Segment</span>

            <!-- <input class="customer-segment-name" type="text" placeholder="Customer segment" ng-model="segment.name"> -->
        </h2>
        <div class="canvas customer-segment">
            <div class="customer-segment-gains-pains">
                <div class="customer-segment-gains">
                    <div class="invisible invisible-bottom"></div>
                    <div class="customer-segment-gains-content">
                        <h3 class="canvas-title">Gains<i class="smile icon"></i></h3>
                        <div class="canvas-text customer-segment-gains-text">
                            {{segment.gains}}
                        </div>
                    </div>
                </div>
                <div class="customer-segment-pains">
                    <div class="invisible invisible-top"></div>
                    <div class="customer-segment-pains-content">
                        <h3 class="canvas-title">Pains <i class="frown icon"></i></h3>
                        <div class="canvas-text customer-segment-pains-text">
                            {{segment.pains}}
                        </div>
                    </div>
                </div>
            </div><div class="customer-segment-job">
                <div class="customer-segment-job-content">
                    <h3 class="canvas-title">Job<i class="list layout icon"></i></h3>
                    <div class="canvas-text customer-segment-job-text">
                        {{segment.job}}
                    </div>
                </div>
                <div class="invisible"></div>
            </div>
            <!-- <div class="ui center aligned padded grid">
                <div class="olive column">
                  Olive
                </div>
                <div class="black column">
                  Black
                </div>
          </div> -->
        </div>
    </div>
</div>
</div>
</div>
