<div>
    <div class="ui sidebar inverted vertical menu icon labeled" sidebar>
      <h1 class="menu-header">Canvas</h1>
      <a class="item">
          <i class="plus icon"></i> Add Canvas
      </a>
      <a class="item">
          <i class="list icon"></i> My Canvas
      </a>
      <a class="item">
          <i class="settings icon"></i> Settings
      </a>

      <a class="item">
          <i class="info icon"></i> About
      </a>
    </div>
    <div class="pusher">
        <div class="main">
            <div class="menu-button" >
                <button class="ui button secondary icon large smenu-button" ng-click="sidebar('toggle')" ng-if="user.logged()">
                    <i class="ui icon content"></i>
                </button>
                <!-- <button class="ui button secondary icon large smenu-button" ng-click="sidebar('toggle')" ng-if="!user.logged()">
                    Sign-in/up for more feature <i class="ui icon content"></i>
                </button> -->
                <div class="menu-button-sign" ng-if="!user.logged()">
                    Sign-up for more features
                </div>
            </div>
            <!-- <ng-transclude></ng-transclude> -->

            <div class="main-container" ng-transclude>


            </div>
            <footer class="footer">
                Made with <i class="ui icon heart"></i> from Grenoble
            </footer>

        </div>
    </div>
</div>
