<div class="canvas-container canvas-customer-segment-container" ng-class="{'customer-segment-container-top': showTutorial && stepTutorial == 'customer-segment'}">
    <h2 class="canvas-title">Customer Segment</h2>
    <div class="canvas-customer-segment">
        <div class="canvas-customer-segment-gains-pains">
            <canvas-block
            title="Gains"
            icon="smile"
            canvas-name="customer-segment"
            block-name="gains"
            value="canvas.content.gains"
            editable="editable" top></canvas-block>
            <canvas-block
            title="Pains"
            icon="frown"
            canvas-name="customer-segment"
            block-name="pains"
            value="canvas.content.pains"
            editable="editable" top></canvas-block>
        </div><canvas-block
        title="Job"
        icon="list layout"
        canvas-name="customer-segment"
        block-name="job"
        value="canvas.content.job"
        editable="editable"></canvas-block>
    </div>
</div>
