
<header class="header">
    Value proposition canvas
</header>

<div class="beta">
    <div class="beta-title">Open Beta</div>
    <div class="beta-github">Issues, Improvements ? Contacts us on <a class="beta-link" href="https://github.com/ThibaultFriedrich/value-proposition-canvas">github</a></div>
    <!--  -->
</div>

<div class="">
    <div class="welcome ui middle aligned center aligned grid">
      <div class="column">
          <!-- <div class="welcome-title">
              Open Beta
          </div> -->
          <p>
              <button class="ui button secondary large" ng-click="newValuePropositionCanvas()">Create New Canvas</button>
        </p>
        <p ng-show="showImport">
            or
        </p>
        <p ng-show="showImport">
            <div class="welcome-import" ng-click="import()">Import an existing canvas</div>
        </p>
      </div>
    </div>

    <input type="file" fileread="file" class="welcome-file" name="file[]" />
</div>


<div class="ui basic modal" modal="dragging">
  <div class="image content">
    <div class="description">
      <div class="welcome-import-drop">
          <i class="ui icon cloud upload"></i>
          <p>
              Import a json file
        </p>

      </div>
    </div>
  </div>
</div>


<footer class="footer">
    Made with <i class="ui icon heart"></i> from Grenoble
</footer>
