
<header class="header">
    Value proposition canvas
</header>
<div class="">
    <div class="welcome ui middle aligned center aligned grid">
      <div class="column">
          <!-- <div class="welcome-title">
              Value proposition canvas
          </div> -->
          <p>
              <button class="ui button secondary large" ng-click="newValuePropositionCanvas()">Create New Canvas</button>
        </p>
        <p ng-show="showImport">
            or
        </p>
        <p ng-show="showImport">
            <div class="welcome-import" ng-click="import()">Import the save of an existing canvas</div>
        </p>
      </div>
    </div>

    <input type="file" fileread="file" class="welcome-file" name="file[]" />
</div>
