<div class="ui mini modal" >
    <div class="header">
        <!-- <i class="float right close icon"></i> -->
        {{title}}
        <i class="{{icon}} icon"></i>
    </div>
    <div class="">
        <textarea class="textarea modal-textarea" placeholder="Type here" ng-model="value" ng-change="onChange()"></textarea>
        <!-- <div class="modal-help">
            markdown compatible
        </div> -->
    </div>
    <div class="actions">
        <div class="ui blue approve button">Close</div>
    </div>
</div>
