<div class="customer-segment-container" ng-hide="canvas.getTarget() == 'product'" ng-class="{'customer-segment-container-top': showTutorial && stepTutorial == 'customer-segment'}">
    <h2>
        <span class="canvas-name">Customer Segment</span>

        <!-- <input class="customer-segment-name" type="text" placeholder="Customer segment" ng-model="segment.name"> -->
    </h2>
    <div class="canvas customer-segment">
        <div class="customer-segment-gains-pains">
            <div class="customer-segment-gains">
                <div class="invisible invisible-bottom"></div>
                <div class="customer-segment-gains-content">
                    <h3 class="canvas-title">Gains<i class="smile icon"></i></h3>
                    <div class="canvas-prompt-container" ng-show="segment.gains.length == 0"><div class="canvas-prompt"><i class="ui icon paragraph"></i></div></div>
                    <div class="canvas-text customer-segment-gains-text" contenteditable ng-model="segment.gains" ng-class="{'canvas-text-empty':segment.gains.length == 0}">

                    </div>
                </div>
            </div>
            <div class="customer-segment-pains">
                <div class="invisible invisible-top"></div>
                <div class="customer-segment-pains-content">
                    <h3 class="canvas-title">Pains <i class="frown icon"></i></h3>
                    <div class="canvas-prompt-container" ng-show="segment.pains.length == 0"><div class="canvas-prompt"><i class="ui icon paragraph"></i></div></div>
                    <div class="canvas-text customer-segment-pains-text" contenteditable ng-model="segment.pains" ng-class="{'canvas-text-empty':segment.pains.length == 0}">

                    </div>
                </div>
            </div>
        </div><div class="customer-segment-job">
            <div class="customer-segment-job-content">
                <h3 class="canvas-title">Job<i class="list layout icon"></i></h3>
                <div class="canvas-prompt-container" ng-show="segment.job.length == 0"><div class="canvas-prompt"><i class="ui icon paragraph"></i></div></div>
                <div class="canvas-text customer-segment-job-text" contenteditable ng-model="segment.job" ng-class="{'canvas-text-empty':segment.job.length == 0}">

                </div>
            </div>
            <div class="invisible"></div>
        </div>
        <!-- <div class="ui center aligned padded grid">
            <div class="olive column">
              Olive
            </div>
            <div class="black column">
              Black
            </div>
      </div> -->
    </div>
</div>
