<div class="canvas-container">
    <div class="canvas-business-model">
        <canvas-block
        title="Key Partners"
        icon="linkify"
        canvas-name="business-model"
        block-name="partners"
        value="canvas.content.partners"
        editable="editable" top></canvas-block><div class="canvas-business-model-activities-resources">
            <canvas-block
            title="Key Activities"
            icon="check circle"
            canvas-name="business-model"
            block-name="activities"
            value="canvas.content.activities"
            editable="editable" top></canvas-block>
            <canvas-block
            title="Key Resources"
            icon="industry"
            canvas-name="business-model"
            block-name="resources"
            value="canvas.content.resources"
            editable="editable" top></canvas-block>
        </div><canvas-block
        title="Value Proposition"
        icon="gift"
        canvas-name="business-model"
        block-name="value-proposition"
        value="canvas.content.valueproposition"
        editable="editable" top></canvas-block><div class="canvas-business-model-relationships-channels">
            <canvas-block
            title="Customer Relationships"
            icon="heart"
            canvas-name="business-model"
            block-name="relationships"
            value="canvas.content.relationships"
            editable="editable" top></canvas-block>
            <canvas-block
            title="Channels"
            icon="shipping"
            canvas-name="business-model"
            block-name="channels"
            value="canvas.content.channels"
            editable="editable" top></canvas-block>
        </div><canvas-block
        title="Customer Segments"
        icon="users"
        canvas-name="business-model"
        block-name="segments"
        value="canvas.content.segments"
        editable="editable" top></canvas-block>
        <canvas-block
        title="Cost Structure"
        icon="ticket"
        canvas-name="business-model"
        block-name="costs"
        value="canvas.content.costs"
        editable="editable" top></canvas-block><canvas-block
        title="Revenue Streams"
        icon="dollar"
        canvas-name="business-model"
        block-name="revenues"
        value="canvas.content.revenues"
        editable="editable" top></canvas-block>
    </div>
</div>
